<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      /* Estilos de email precisam estar embutidos aqui */
    </style>
  </head>

  <body>
    <p>Ola <%= @user.email %>,</p>
    <p>Aqui é o conexao advogados</p>
    <p>Bem-vindo ao nosso site</p>
  </body>
</html>