.offer-box {
  height: 84px;
  width: 100%;
  background-color: #01385d;
  padding: 0 32px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 12px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
  user-select: none;
  caret-color: transparent;

  h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 6px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  .close {
    display: flex;
    align-items: center;
    gap: 10rem;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
