<div class="home-container">



    <%= render(Banner::BannerComponent.new) %>


  <section>

  </section>

















  <section>

  </section>

  <section>

  <section>

  </section>

  <section>

  </section>

  </section>
</div>
