<div class="home-container">


  <section>
    <%= render(Banner::BannerComponent.new) %>
  </section>

  <section>

  </section>








  








  <section>

  </section>

  <section>

  <section>

  </section>

  <section>

  </section>

  </section>
</div>
