<!-- /home/raquel/ConexaoAdvogados/ConexaoAdvogados/app/views/pages/pending_confirmation.html.erb -->

<h1>Aguardando confirmação de cadastro</h1>
<p>Foi enviado um email de confirmação de cadastro. Por favor, verifique sua caixa de entrada e siga as instruções.</p>
