
<h1>Bem-vindo à nossa página!</h1>
<p>Obrigado por se juntar a nós. Esperamos que tenha uma ótima experiência!</p>




  <%# <>Ola <%= @user.email %>
  <p>Ola felipe.abdo@gmail.com,</p>
  <p>Aqui é o Conexao Advogados</p>
  <p>Bem-vindo ao nosso site.</p>
