
<h1>Bem-vindo à nossa página!</h1>
<p>Obrigado por se juntar a nós. Esperamos que tenha uma ótima experiência!</p>

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    /* Estilos de email precisam estar embutidos aqui */
  </style>
</head>
<body>
  <p>Ola <%= @user.email %>,</p>
  <p>Aqui é o Conexao Advogados</p>
  <p>Bem-vindo ao nosso site.</p>
</body>
</html>
