.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}


.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-line {

}

.centered-horizontal {
  display: flex;
  
}
