.login-container {
  background-color: #01395C;
  // width: 100%;
  // height: 100%;
}

.links-box {
  display: flex;
  gap: 20px;
}

.register-box h2 {
  margin-bottom: 40px;
  font-weight: bold;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  border-color: #d6d5d5;
}
