<div class="offer-box" data-controller="offer"  data-offer-target="content">
  <div>
    <h1>Aumente sua presença online</h1>
    <p>Seja encontrado por clientes que precisam exatamente dos seus serviços.</p>
  </div>
  <div class="close">
    <%= render(Button::ButtonComponent.new(text: "Login", style_class: "secondary")) %>
    <%= image_tag 'close.png', alt: 'Fechar oferta', class: "close-button", data: { action: "click->offer#close" } %>
  </div>

</div>
