<!-- app/views/layouts/welcome_email.html.erb -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo ao Conexão Advogados</title>
</head>
<body>
  <div class="container">
    <%= image_tag "logos/logo_pipoca_agil.png" %> <br>
    <p>Enviamos um e-mail de confirmação para você. Por favor, verifique sua caixa de entrada ou sua pasta de spam para concluir seu cadastro.</p>
  </div>
</body>
</html>
